body{
	background-color: #222;
	/* #fff = white*/
	color: #eee;
	margin-top: 20px;
	font-family: 'playfair display' serif;
}

h1{
	font-size: 35px;
	text-align: center;
	margin-bottom: 20px;
}
.thumb {
	height: 20%;
	float: left;
	width: 20%;
}

.thumbnails {
	margin:auto;
	width: 70%;
	
}

.thumbnails img{
	height: 80px;
	border: 4px solid #555;

	

}

.thumbnails img:hover{
	border: 4px solid #00ccff;
}

.preview {
	text-align: center;
		width: 40%;
		margin: auto;	
}

.preview img{
	width: 100%;
	max-width: 100%;
}